/* line 1, ../../_sass/pygments/default.scss */
code, pre {
  color: #fdce93;
  background-color: #3f3f3f;
}

/* line 1, ../../_sass/pygments/default.scss */
.hll {
  background-color: #222;
}

/* line 1, ../../_sass/pygments/default.scss */
.c {
  color: #7f9f7f;
}

/* line 1, ../../_sass/pygments/default.scss */
.err {
  color: #e37170;
  background-color: #3d3535;
}

/* line 1, ../../_sass/pygments/default.scss */
.g {
  color: #7f9f7f;
}

/* line 1, ../../_sass/pygments/default.scss */
.k {
  color: #f0dfaf;
}

/* line 1, ../../_sass/pygments/default.scss */
.l {
  color: #ccc;
}

/* line 1, ../../_sass/pygments/default.scss */
.n {
  color: #dcdccc;
}

/* line 1, ../../_sass/pygments/default.scss */
.o {
  color: #f0efd0;
}

/* line 1, ../../_sass/pygments/default.scss */
.x {
  color: #ccc;
}

/* line 1, ../../_sass/pygments/default.scss */
.p {
  color: #41706f;
}

/* line 1, ../../_sass/pygments/default.scss */
.cm {
  color: #7f9f7f;
}

/* line 1, ../../_sass/pygments/default.scss */
.cp {
  color: #7f9f7f;
}

/* line 1, ../../_sass/pygments/default.scss */
.c1 {
  color: #7f9f7f;
}

/* line 1, ../../_sass/pygments/default.scss */
.cs {
  color: #cd0000;
  font-weight: bold;
}

/* line 1, ../../_sass/pygments/default.scss */
.gd {
  color: #cd0000;
}

/* line 1, ../../_sass/pygments/default.scss */
.ge {
  color: #ccc;
  font-style: italic;
}

/* line 1, ../../_sass/pygments/default.scss */
.gr {
  color: red;
}

/* line 1, ../../_sass/pygments/default.scss */
.gh {
  color: #dcdccc;
  font-weight: bold;
}

/* line 1, ../../_sass/pygments/default.scss */
.gi {
  color: #00cd00;
}

/* line 1, ../../_sass/pygments/default.scss */
.go {
  color: gray;
}

/* line 1, ../../_sass/pygments/default.scss */
.gp {
  color: #dcdccc;
  font-weight: bold;
}

/* line 1, ../../_sass/pygments/default.scss */
.gs {
  color: #ccc;
  font-weight: bold;
}

/* line 1, ../../_sass/pygments/default.scss */
.gu {
  color: purple;
  font-weight: bold;
}

/* line 1, ../../_sass/pygments/default.scss */
.gt {
  color: #0040D0;
}

/* line 1, ../../_sass/pygments/default.scss */
.kc {
  color: #dca3a3;
}

/* line 1, ../../_sass/pygments/default.scss */
.kd {
  color: #ffff86;
}

/* line 1, ../../_sass/pygments/default.scss */
.kn {
  color: #dfaf8f;
  font-weight: bold;
}

/* line 1, ../../_sass/pygments/default.scss */
.kp {
  color: #cdcf99;
}

/* line 1, ../../_sass/pygments/default.scss */
.kr {
  color: #cdcd00;
}

/* line 1, ../../_sass/pygments/default.scss */
.kt {
  color: #00cd00;
}

/* line 1, ../../_sass/pygments/default.scss */
.ld {
  color: #cc9393;
}

/* line 1, ../../_sass/pygments/default.scss */
.m {
  color: #8cd0d3;
}

/* line 1, ../../_sass/pygments/default.scss */
.s {
  color: #cc9393;
}

/* line 1, ../../_sass/pygments/default.scss */
.na {
  color: #9ac39f;
}

/* line 1, ../../_sass/pygments/default.scss */
.nb {
  color: #efef8f;
}

/* line 1, ../../_sass/pygments/default.scss */
.nc {
  color: #efef8f;
}

/* line 1, ../../_sass/pygments/default.scss */
.no {
  color: #ccc;
}

/* line 1, ../../_sass/pygments/default.scss */
.nd {
  color: #ccc;
}

/* line 1, ../../_sass/pygments/default.scss */
.ni {
  color: #c28182;
}

/* line 1, ../../_sass/pygments/default.scss */
.ne {
  color: #c3bf9f;
  font-weight: bold;
}

/* line 1, ../../_sass/pygments/default.scss */
.nf {
  color: #efef8f;
}

/* line 1, ../../_sass/pygments/default.scss */
.nl {
  color: #ccc;
}

/* line 1, ../../_sass/pygments/default.scss */
.nn {
  color: #8fbede;
}

/* line 1, ../../_sass/pygments/default.scss */
.nx {
  color: #ccc;
}

/* line 1, ../../_sass/pygments/default.scss */
.py {
  color: #ccc;
}

/* line 1, ../../_sass/pygments/default.scss */
.nt {
  color: #9ac39f;
}

/* line 1, ../../_sass/pygments/default.scss */
.nv {
  color: #dcdccc;
}

/* line 1, ../../_sass/pygments/default.scss */
.ow {
  color: #f0efd0;
}

/* line 1, ../../_sass/pygments/default.scss */
.w {
  color: #ccc;
}

/* line 1, ../../_sass/pygments/default.scss */
.mf {
  color: #8cd0d3;
}

/* line 1, ../../_sass/pygments/default.scss */
.mh {
  color: #8cd0d3;
}

/* line 1, ../../_sass/pygments/default.scss */
.mi {
  color: #8cd0d3;
}

/* line 1, ../../_sass/pygments/default.scss */
.mo {
  color: #8cd0d3;
}

/* line 1, ../../_sass/pygments/default.scss */
.sb {
  color: #cc9393;
}

/* line 1, ../../_sass/pygments/default.scss */
.sc {
  color: #cc9393;
}

/* line 1, ../../_sass/pygments/default.scss */
.sd {
  color: #cc9393;
}

/* line 1, ../../_sass/pygments/default.scss */
.s2 {
  color: #cc9393;
}

/* line 1, ../../_sass/pygments/default.scss */
.se {
  color: #cc9393;
}

/* line 1, ../../_sass/pygments/default.scss */
.sh {
  color: #cc9393;
}

/* line 1, ../../_sass/pygments/default.scss */
.si {
  color: #cc9393;
}

/* line 1, ../../_sass/pygments/default.scss */
.sx {
  color: #cc9393;
}

/* line 1, ../../_sass/pygments/default.scss */
.sr {
  color: #cc9393;
}

/* line 1, ../../_sass/pygments/default.scss */
.s1 {
  color: #cc9393;
}

/* line 1, ../../_sass/pygments/default.scss */
.ss {
  color: #cc9393;
}

/* line 1, ../../_sass/pygments/default.scss */
.bp {
  color: #efef8f;
}

/* line 1, ../../_sass/pygments/default.scss */
.vc {
  color: #efef8f;
}

/* line 1, ../../_sass/pygments/default.scss */
.vg {
  color: #dcdccc;
}

/* line 1, ../../_sass/pygments/default.scss */
.vi {
  color: #ffffc7;
}

/* line 1, ../../_sass/pygments/default.scss */
.il {
  color: #8cd0d3;
}
