---
layout: default
---

 <div class="threecolleft">
     <h3>Get In Touch!</h3>
<p><a href="http://www.twitter.com/micahgodbolt" target="_blank">@micahgodbolt</a><br /><a href="https://plus.google.com/100749189589213497870/posts" target="_blank">Google Plus</a><br /><a href="http://www.github.com/micahgodbolt" target="_blank">Github</a><br /><a href="http://codepen.io/micahgodbolt" target="_blank">Codepen</a><br /><a href="http://drupal.org/user/488992" target="_blank">Drupal.org</a></p>
</div>

<div class="threecolcenter">
{{ content }}
</div>


<div class="threecolright portfolio">
  <h3>Recent Work</h3>

<div>
<a href="http://www.swwchapter.org/">Southwest Washington Chapters</a>
  <p>Association website with user submitted calendar and news module.</p>
  <img src="http://www.godbolt.me/sites/default/files/styles/large/public/swwchapter.png" width="480" height="348" alt="" /></div>
<div >

<div>
  <a href="http://www.fish-marketing.com/our-work">Fish Marketing Portfolio</a>
  <p>Portfolio page using Masonry jQuery plugin and custom lightbox/image slider.</p>
</div>
<img src="http://www.godbolt.me/sites/default/files/styles/large/public/fish-portfolio.png" width="480" height="348" alt="" /></div>

</div>
